.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding: 30px 15px;

  background-color: white;
}
.footer__list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.footer__about-us {
  display: none;
}
.footer__social {
  margin: 0 auto;
}
.footer__social-call {
  display: block;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-width: 160px;
  padding-left: 8px;
}
.footer__social-link {
  display: block;

  width: 28px;
  height: 28px;
  margin-right: 10px;
  border: 1px solid #0d3351;
  border-radius: 50%;

  background-color: #0d3351;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__social-link--vk {
  background-image: url(../img/vk.png);
}
.footer__social-link--ok {
  background-image: url(../img/odn.png);
  background-position: center 5px;
}
.footer__social-link--yt {
  background-image: url(../img/yt.png);
  background-position: center 4px;
}
.footer__social-link--inst {
  background-image: url(../img/insta.png);
}
.footer__support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 244px;
  margin: 0 auto;

  font-family: "Raleway", sans-serif;

  text-align: center;
}
.footer__support-number {
  width: 185px;
  margin: 0 auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.footer__support-info {
  width: 185px;
  margin: 0 auto;

  font-size: 10px;
  font-weight: 400;
  line-height: 48px;
}
.footer__support-ooo {
  margin: 0 auto;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 750px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 720px;
    margin: 0 auto;
  }
  .footer__about-us {
    display: block;
  }
  .footer__support,
  .footer__social {
    margin: 0;
  }
  .footer__social-call {
    padding-left: 7px;

    text-align: left;
  }
  .footer__support {
    display: block;
  }
  .footer__support-number,
  .footer__support-info,
  .footer__support-ooo {
    display: block;

    width: 100%;
    margin: 0;
    
    line-height: 24px;
    text-align: left;
  }
}
@media (min-width: 1170px) {
  .footer {
    width: 1140px;
  }
  .footer__social {
    margin-right: 225px;
  }
}